
# Build output
# Fetched assets
**/*.log
**/*.swp
**target/
.DS_Store
.tmp_tools/
.worktrees/**
/assets/cursors/
/assets/fonts/
/assets/icons/
/target
/vendor/limine/
/vendor/ovmf/
check_output.txt
compile_errors.txt
disk.img
symbols.txt
symbols_raw.txt
